*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-brand{
margin: 20px;
}
.navbar{
    background-color: #48FF33;
}
.quem-somos{
    background-color:#BAE692 ;
    color: white;
}
.margin{
  
  padding-bottom: 50px;
  padding-top: 10px;
}
.parceiros{
    background-color: #59D1D7;
    color: wheat;
}
.time{
    padding-top: 20px;
}
.bg-footer{
    background-color: black;
    color: aliceblue;
}